.title {
    text-align: center;
    font-size: 42px;
    margin: 0;
}

.managers-wrapper {
    display: flex;
    justify-content: start;
    margin: 0 10px;
}

.manager {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.keys-wrapper {
    width: 500px;
    height: 575px;
}

.wallets-wrapper {
    width: 400px;
    height: 575px;
}

.fake-wrapper {
    flex: 1;
}

.keys-wrapper * {
    margin: 5px;
}

.wallets-wrapper * {
    margin: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.header-container button {
    background-color: #00a2ff;
    color: white;
    border-radius: 5px;
    height: min-content;
    padding: 10px;
    border: none;
    align-self: center;
}

table {
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    color: white;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px;
    overflow-y: auto;
}

td, th {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #2e93ff;
}

select {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 100%;
    text-overflow: ellipsis;
}

option {
    background-color: #2e93ff;
}

#trash {
    margin-left: auto;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.popup input {
    padding: 12px;
    padding-right: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup * {
    font-size: 16px;
}

.popup button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.popup #copy {
    width: 40px;
    height: 40px;
    margin-left: -50px;
    background-color: transparent;
}

.popup #copy:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.popup #copy:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.popup .error-message {
    color: red;
    font-size: 14px;
    align-self: flex-start;
    margin: 5px;
}